---
name: Release
on:
  push:
    tags: [v*]
permissions: {}
jobs:
  release:
    uses: suzuki-shunsuke/go-release-workflow/.github/workflows/release.yaml@4db55f2aeaca166b2655fa4a80658df1050dc203 # v7.0.0
    with:
      go-version-file: go.mod
      aqua_version: v2.56.1
      go_licenses_package: ./cmd/app
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write

  release-image:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - run: ko version
        env:
          AQUA_GITHUB_TOKEN: ${{ github.token }}
      - run: ko build ./cmd/app --bare -t "$VERSION"
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository }}
          GITHUB_TOKEN: ${{ github.token }}
          VERSION: ${{ github.ref_name }}
